[submodule "lib/z"]
	path = lib/z
	url = https://github.com/rupa/z.git
[submodule "lib/complete-alias"]
	path = lib/complete-alias
	url = https://github.com/cykerway/complete-alias.git
[submodule "lib/kubectx"]
	path = lib/kubectx
	url = https://github.com/ahmetb/kubectx.git
[submodule "lib/n"]
	path = lib/n
	url = https://github.com/tj/n.git
